@import '../_variables.sass'

.wp-block-childress-passion
    padding: 15px

    .mix-blend
        font-size: unset
        margin: 0

        &__text
            margin-top: 0

    .treble
        &__text
            .editor-plain-text
                color: $color-black

        &__gradient
            height: 45%
            top: 55%
            transform: translateY(-50%)
            z-index: unset

    textarea
        text-align: center
