@import '../_variables.sass'

.wp-block-childress-reviews
    .reviews-hero
        &__title
            color: $color-black

    .reviews
        background-color: transparent
        color: $color-black
