@import '../_variables.sass'

.wp-block-childress-reviews
    .reviews-hero
        &__title
            color: $color-black
            margin: 0
            margin-top: 30px

    .reviews
        background-color: transparent
        color: $color-black

        &__title
            margin: 0
